$pretoNautika: #000000;
$brancoNautika: #ffffff;
$backgroundDark: #222;
$backgroundLight: #f5f5f5;
$vermelhoVinhoTAG: #A03233;
$cinzaMedio: #656565;
$cores-nautika-primaria-branco: #fff;
$cores-nautika-secundria-laranja: #E86009;
$cores-nautika-secundria-marrom: #6E2F09;
$cores-nautika-secundria-vinho: #A03233;
$cores-nautika-secundria-azul-escuro: #005EBC;