.home {
    background-color: $pretoNautika;

    .slick-dotted.slick-slider {
        margin: 0;
    }

    button.slick-arrow {
        z-index: 10;
        width: 40px;
        height: 40px;

        &:before {
            display: none;
        }

        &.slick-next {
            right: 5%;
            background: url("../img/next-icone.png") no-repeat center center;
        }

        &.slick-prev {
            left: 5%;
            background: url("../img/prev-icone.png") no-repeat center center;
        }
    }

    ul.slick-dots {
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 8px;
        bottom: 33px;

        @include device(sm) {
            bottom: 16px;
        }

        li {
            margin: 0;
            padding: 0;
            width: 14px;
            height: 14px;

            button {
                padding: 0;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid $brancoNautika;
                background-color: $pretoNautika;

                &:before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background-color: $brancoNautika;
                }
            }
        }
    }

    .carrousel-desk,
    .carrousel-mob {
        width: 100%;

        .carrousel-item {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .carrousel-desk {
        display: block;

        @include device(sm) {
            display: none;
        }
    }

    .carrousel-mob {
        display: none;

        @include device(sm) {
            display: block;
        }
    }

    .brands {
        background-color: $backgroundDark;
        color: $brancoNautika;
        padding: 60px 0;

        .stories-brands {
            @include device(l) {
                flex-direction: column;
                gap: 22px;
            }

            .title_stories {
                margin: 0;
                /* Mundial/Heading/Bold/24px */
                // font-family: Mundial;
                font-size: 24px;
                font-style: normal;
                line-height: normal;
            }

            .brads_slider {
                width: 914px;

                @include device(l) {
                    width: 100%;
                    height: 0;
                }

                .slick-track {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include device(sm) {
                        display: block;

                        .slick-slide {
                            margin: 0 15px;
                        }

                        /* the parent */
                        .slick-list {
                            margin: 0 -15px;
                        }
                    }

                    .brads_link.slick-slide {
                        width: fit-content !important;
                    }
                }
            }
        }

        .banners_stores {
            margin-top: 80px;

            .banner_store {
                width: 100%;
                border-radius: 5px;
                overflow: hidden;

                img {
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                    border-radius: 5px;

                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }

            .banners_stores-container-desk {
                @include device(sm) {
                    display: none;
                }
            }

            .banners_stores-container-mobile {
                display: none;

                @include device(sm) {
                    display: flex;
                    gap: 10px;
                }

                .banner_store {}
            }

            .col {
                padding: 5px;
            }
        }

        .categories_banner {
            margin-top: 72px;

            .container_categories {
                width: 100%;
                max-width: 1320px;
                margin: 0 auto;
            }

            .categories_slider {
                .slick-track {

                    
                    .slick-slide {
                        margin: 0 8px;
                    }

                    /* the parent */
                    .slick-list {
                        margin: 0 -8px;
                    }

                    .categories_link.slick-slide {
                        width: fit-content !important;
                        border-radius: 5px;

                        img {
                            width: 100%;
                            transition: all 0.3s ease-in-out;
                            border-radius: 5px;
                            object-fit: cover;
                            filter: brightness(0.6);

                            &:hover {
                                transform: scale(1.03);
                                filter: brightness(1);
                            }
                        }
                    }
                }
            }
        }

        .banners_products {
            margin-top: 72px;

            .banners_products_container-desk {
                @include device(sm) {
                    display: none;
                }
            }

            .banners_products_container-mob {
                display: none;

                @include device(sm) {
                    display: flex;
                    gap: 20px;
                }
            }

            .col {
                padding: 5px;
            }

            .banner_product {
                width: 100%;
                border-radius: 5px;
                overflow: hidden;

                img {
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                    border-radius: 5px;
                    filter: brightness(0.8);

                    &:hover {
                        transform: scale(1.1);
                        filter: brightness(1);
                    }
                }
            }
        }
    }

    .store-info {
        background: #383838;
        gap: 50px;
        overflow: hidden;

        .wave {
            height: 100%;

            @include device(xl) {
                display: none;
            }
        }

        .benefits {
            @include device(xl) {
                margin: 0 auto;
                padding: 40px 0;
            }

            .benefits-titles {
                text-align: center;

                h2 {
                    color: $brancoNautika;
                    text-align: center;
                    // font-family: Mundial;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin: 0;

                    @include device(sm) {
                        font-size: 20px;
                    }
                }

                h3 {
                    color: $brancoNautika;
                    text-align: center;
                    /* Mundial/Body/Regular/20px */
                    // font-family: Mundial;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 30px */
                    margin: 0;

                    @include device(sm) {
                        font-size: 16px;
                        margin-top: 8px;
                    }
                }
            }

            .benefits-box {
                margin-top: 50px;
                display: grid;
                gap: 90px;
                grid-template-columns: repeat(2, 1fr);

                @include device(l) {
                    // background-color: red;
                    gap: 45px;
                }

                @include device(md) {
                    grid-template-columns: repeat(1, 1fr);

                    .slick-list {
                        // padding: 0 20px !important;
                    }
                }

                .card-benefits {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    @include device(md) {
                        flex-direction: column;

                        
                        &.slick-slide {
                            // width: 260px !important;
                        }
                    }

                    svg {
                        transition: all 0.3s ease-in-out;

                        path {
                            transition: all;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                fill: #A03233;
                            }
                        }
                    }

                    .card-benefits-text {
                        width: 260px;

                        @include device(md) {
                            text-align: center;
                        }
                    }

                    .card-benefits-title {
                        color: #FFF;
                        /* Mundial/Body/Bold/20px */
                        // font-family: Mundial;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;

                        /* 30px */
                        @include device(md) {
                            font-size: 16px;
                        }
                    }

                    .card-benefits-description {
                        color: #FFF;
                        /* Mundial/Body/Regular/16px */
                        // font-family: Mundial;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;

                        /* 24px */
                        @include device(md) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .more-content {
        background-color: $backgroundDark;
        padding-top: 75px;
        padding-bottom: 90px;

        .row.gy-3.slick-initialized.slick-slider.slick-dotted {
            margin-bottom: 70px;
        }

        ul.slick-dots {
            bottom: -40px;
        }

        button.slick-arrow.slick-next {
            right: -5%;

            @include device(l) {
                right: -2%;
            }

            @include device(md) {
                display: none;
            }
        }

        button.slick-arrow.slick-prev {
            left: -5%;

            @include device(l) {
                left: -4%;
            }

            @include device(md) {
                display: none;
            }
        }

        .slick-slide {
            margin: 0 8px;
        }

        /* the parent */
        .slick-list {
            margin: 0 -8px;
            padding: 16px 0;

            @include device(sm) {
                padding: 0 20px !important;
            }
        }

        .row {
            gap: 16px;
            margin: 34px 0;
        }

        h2 {
            color: $cores-nautika-primaria-branco;
            /* Mundial/Heading/Bold/24px */
            // font-family: Mundial;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;

            @include device(sm) {
                font-size: 20px;
                line-height: 24px;
            }
        }

        h3 {
            text-align: center;
            color: $cores-nautika-primaria-branco;
            text-align: center;
            /* Mundial/Body/Regular/20px */
            // font-family: Mundial;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            /* 30px */
            @include device(sm) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}